.git
.opencode
.idea
.vscode
.env
.env.backup
.env.production
auth.json
composer.phar
node_modules
vendor
public/build
public/hot
public/storage
public/uploads
storage/logs/*
storage/pail
database/dumps
database/database.sqlite
tests
.phpunit.result.cache
.phpunit.cache
Homestead.json
Homestead.yaml
Thumbs.db
.DS_Store
